/* 자손 선택자 접근*/
.m-parents p {
    background-color: yellow;
}

/* 자식 선택자 접근*/
.m-parents > p {
    border: 3px solid red;
}

/* 일반 동위 선택자 */
.m-sibling ~ p {
    background-color: beige;
}
/* 인접 동위 선택자 : 바로 뒤에 있는 요소의 디자인을 바꾸고 싶을때 */
.m-sibling + p {
    background-color: chocolate;
}

.test-ul li {
    float: left;
    padding: 0 20px;
    list-style-type: none;
    border-right: 1px solid black;
}
.test-ul .last-li + li {
    border: none;
}

/* 링크(a태그)에 사용하는 동적의사클래스*/
a:link {color: red;}
a:visited {color: blue;}
a:hover {color: yellow;}
a:active {color: green;}

/*포커스를 가질수 있는 요소에 사용하는 동적의사클래스*/
.focus-input:focus { background-color: coral;}

/* 체크 상태일때, 바로 뒤에 있는 span 태그의 배경색을 바꾼다 */
.checked-box:checked + span {background-color: red;}